<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deakyu.searchinterface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This is the searchable activity; it performs searches -->
        <!-- Setting launchMode to singleTop is recommended to prevent multiple instances of
             this activity from being created, which might cause bad user experience -->
        <activity android:name=".SearchableActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- This activity enables the search dialog to initiate searches
             in the SearchableActivity -->
        <activity android:name=".OtherActivity">
            <meta-data android:name="android.app.default_searchable"
                        android:value="com.example.deakyu.searchinterface.SearchableActivity"/>
        </activity>

        <provider
            android:authorities="com.example.deakyu.searchinterface.MySuggestionsProvider"
            android:name="com.example.deakyu.searchinterface.MySuggestionsProvider"
            android:exported="false" />
    </application>

</manifest>